In [18]:
# Import packages
import pandas as pd
import numpy as np

In [19]:
# Import the CSV file
'''Assign the CSV file to a variable'''

df = pd.read_csv('task1.csv')

In [20]:
# Check that the csv was successfully imported
print(df.head())
print(df.info())

      Loan Purpose Checking Savings  Months Customer  Months Employed Gender  \
0  Small Appliance       $0    $739               13               12      M
1        Furniture       $0  $1,230               25                0      M
2          New Car       $0    $389               19              119      M
3        Furniture     $638    $347               13               14      M
4        Education     $963  $4,754               40               45      M

  Marital Status  Age Housing  Years         Job Credit Risk
0         Single   23     Own      3   Unskilled         Low
1       Divorced   32     Own      1     Skilled        High
2         Single   38     Own      4  Management        High
3         Single   36     Own      2   Unskilled        High
4         Single   31    Rent      3     Skilled         Low
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Loan Purpose     425 non-null    object
 1   Checking         425 non-null    object
 2   Savings          425 non-null    object
 3   Months Customer  425 non-null    int64
 4   Months Employed  425 non-null    int64
 5   Gender           425 non-null    object
 6   Marital Status   425 non-null    object
 7   Age              425 non-null    int64
 8   Housing          425 non-null    object
 9   Years            425 non-null    int64
 10  Job              425 non-null    object
 11  Credit Risk      425 non-null    object
dtypes: int64(4), object(8)
memory usage: 40.0+ KB
None

In [21]:
# Transorm the checkings column to be suitable for data maniplulation
#Remove the $ and commas and convert to float
df['Checking'] = df['Checking'].str.replace('$', '').str.replace(',','').astype(float)
df['Savings'] = df['Savings'].str.replace('$', '').str.replace(',','').astype(float)

C:\Users\qussa\AppData\Local\Temp\ipykernel_21548\1899806593.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Checking'] = df['Checking'].str.replace('$', '').str.replace(',','').astype(float)
C:\Users\qussa\AppData\Local\Temp\ipykernel_21548\1899806593.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Savings'] = df['Savings'].str.replace('$', '').str.replace(',','').astype(float)

In [22]:
# Q) How many bank customers are there in total?
nrows = df.shape[0]

print('The number of banks customers are: ', nrows)

The number of banks customers are:  425

In [23]:
# Q) How many columns are there in total?

ncols = df.shape[1]
print('The number of columns in the dataframe: ', ncols, 'columns')

The number of columns in the dataframe:  12 columns

In [24]:

# Q) Which column(s) contain integer values? Which column(s) contain string/text values?

'''Create a dictionary with columns and their datatypes'''
col_dtypes = df.dtypes.to_dict()

'''Create a for loop to go through the dictionary and assign based on datatypes'''
integer_list = []
string_list = []
for key, value in col_dtypes.items():
    if value == 'int64':
        integer_list.append(key)
    elif value == 'O':
        string_list.append(key)
'''Print the integer list'''
print('The following columns are integers: ', integer_list)

'''Print the string list'''
print('The following columns are strings ', string_list)

The following columns are integers:  ['Months Customer', 'Months Employed', 'Age', 'Years']
The following columns are strings  ['Loan Purpose', 'Gender', 'Marital Status', 'Housing', 'Job', 'Credit Risk']

In [25]:
# Q) Write Python codes to list the credit risk information of the top 10 customers who have the highest checking account balances.
top_checking = df[['Checking', 'Credit Risk']].sort_values('Checking', ascending = False).head(10)
print(top_checking)

     Checking Credit Risk
259   19812.0        High
310   19766.0        High
114   19155.0         Low
248   18408.0         Low
358   17366.0        High
42    16935.0         Low
33    16647.0         Low
382   16630.0         Low
79    15328.0         Low
111   13496.0        High

In [26]:
# Q) What is the value of the highest checking account balance?

print('The highest checking account balance amount is: ', list(top_checking.iloc[0])[0])

The highest checking account balance amount is:  19812.0

In [27]:
# Q) What is the difference between the highest and second-highest checking account balance?

'''Sort the dataframe from highest to lowest checking balance and assign to a variable'''
sorted = df.sort_values('Checking', ascending = False)

'''Assign the highest checking balance'''
highest_checking = sorted.iloc[0,1]

'''Assign the second highest checking balance'''
second_highest_checking = sorted.iloc[1,1]

'''Calculate the difference between the highest and second highest checking account balance'''
difference = int(highest_checking) - int(second_highest_checking)
print('The difference between the highest and second highest checking balance is:','$', difference)

The difference between the highest and second highest checking balance is: $ 46

In [28]:
# Q) Among all the different types of loans, which type of loan has the most and least number of applications?

# Define the function
def loan_count(df, col_name = 'Loan Purpose'):

    ''' Return a dictionary with the count for each value in a column'''
    
    #extract the column into a variable
    col = df[col_name]
    
    # Create a dictionary
    cols_count = {}

    # Create a loop to iterate over the column and extract counts into the dictionary
    for entry in col:
        if entry in cols_count.keys():
            cols_count[entry] += 1
        else:
            cols_count[entry] = 1
    return cols_count

# Return the result and assign the dictionary to a variable
result1 = loan_count(df, 'Loan Purpose')

# Find the max value in the dictionary and assign it to a variable
loan_max = max(result1, key = lambda x : result1[x])

# Find the min value in the dictionary and assign it to a variable
loan_min = min(result1, key = lambda y : result1[y])

# Print the values to find the loans with the highest and least amount of applications
print(loan_max, 'has the highest number of applications')
print(loan_min, 'has the least number of applications')

Small Appliance has the highest number of applications
Retraining has the least number of applications

In [29]:
# Q) How many customers have applied for new car, used-car, business, education, small-appliance, and furniture loans?

# Use the dictionary from the previous question (result1)

new_car = result1['New Car']
used_car = result1['Used Car']
business = result1['Business']
education = result1['Education']
small_appliance = result1['Small Appliance']
furniture_loans = result1['Furniture']


print('The number of customers that applied to a New Car is', new_car)
print('The number of customers that applied to a Used Car is', used_car)
print('The number of customers that applied to a Business is', business)
print('The number of customers that applied to a Education is', education)
print('The number of customers that applied to a Small Appliance is', small_appliance)
print('The number of customers that applied to a Furniture is', furniture_loans)

The number of customers that applied to a New Car is 104
The number of customers that applied to a Used Car is 40
The number of customers that applied to a Business is 44
The number of customers that applied to a Education is 23
The number of customers that applied to a Small Appliance is 105
The number of customers that applied to a Furniture is 85

In [30]:
# Q) How many customers have applied for new car, used-car, business, education, small-appliance, and furniture loans?
# Same question as above but shortened as a function:

# Define the function with it's parameters
def count_customers(loan_dict, *search_keys):

    ''' Iterates over a dictionary and extracts the key value pairs'''

    # Create a for loop to iterate over the dictionary
    for loan_type, count in loan_dict.items():

        # Check if search_keys is empty or not and filter values of interest
        if not search_keys or loan_type in search_keys:
            print('The number of customers that applied to', loan_type, 'is', count)
            
# Print the result from running the function
result2 = count_customers(result1, 'New Car', 'Used Car','Business', 'Education', 'Small Appliance', 'Furniture' )
print (result2)

The number of customers that applied to Small Appliance is 105
The number of customers that applied to Furniture is 85
The number of customers that applied to New Car is 104
The number of customers that applied to Education is 23
The number of customers that applied to Business is 44
The number of customers that applied to Used Car is 40
None

In [31]:
# Q) How many customers have applied for new car, used-car, business, education, small-appliance, and furniture loans?
# Same question as above but shortened as a function:

# Define the function with it's parameters
def count_customers(loan_dict, *search_keys):

    ''' Iterates over a dictionary and extracts the key value pairs'''

    # Create a for loop to iterate over the dictionary
    for loan_type, count in loan_dict.items():
        # Check if search_keys is empty or not and filter values of interest
        if not search_keys:
            print('The number of customers that applied to', loan_type, 'is', count)
        else:
            if loan_type in search_keys:
             print('The number of customers that applied to', loan_type, 'is', count)

# Print the result from running the function
result2 = count_customers(result1, 'New Car', 'Used Car','Business', 'Education', 'Small Appliance', 'Furniture' )
print (result2)

The number of customers that applied to Small Appliance is 105
The number of customers that applied to Furniture is 85
The number of customers that applied to New Car is 104
The number of customers that applied to Education is 23
The number of customers that applied to Business is 44
The number of customers that applied to Used Car is 40
None

In [34]:
# Q)How much is customers’ average savings account balance?

# View the datatype of column
print(df['Savings'].info())

# View the column
print(df[['Savings']])

# Calculate the average
savings_avg = df['Savings'].mean()

# Print the value
print('The average savings account balance for a customer is:', '$', round(savings_avg, 2))

<class 'pandas.core.series.Series'>
RangeIndex: 425 entries, 0 to 424
Series name: Savings
Non-Null Count  Dtype
--------------  -----
425 non-null    float64
dtypes: float64(1)
memory usage: 3.4 KB
None
     Savings
0      739.0
1     1230.0
2      389.0
3      347.0
4     4754.0
..       ...
420      0.0
421      0.0
422      0.0
423    712.0
424    912.0

[425 rows x 1 columns]
The average savings account balance for a customer is: $ 1812.56

In [36]:
# Q) Compare the average savings account balance with the median savings account balance. Which value is higher?

savings_median = df['Savings'].median()
print('The median savings account balance is:', '$', savings_median)

if savings_median > savings_avg:
    print('The median savings account balance is higher')
else:
    print('The mean savings account balance is higher')

The median savings account balance is: $ 596.0
The mean savings account balance is higher

In [37]:
# Q) How many customers have applied for new car loans and have checking account balances of less than $500? What is the average savings account balance of these customers?
# Loop through the necessary columns and count the number of customers
count = 0
cust_list_checking = []
cust_list_savings = []
for index, row in df.iterrows():
    if (row['Loan Purpose'] == 'New Car') & (row['Checking'] < 500):
        count += 1
        cust_list_checking.append(row['Checking'])
        cust_list_savings.append(row['Savings'])

cust_list_checking_array = np.array(cust_list_checking)
cust_list_checking_avg = cust_list_checking_array.mean()

cust_list_savings_array = np.array(cust_list_savings)
cust_list_savings_avg = cust_list_savings_array.mean()

print('The number of customers that have applied for a new car loan with a checking balance less than 500 is:', count)
print('The average checking balance for these customers is:', round(cust_list_checking_avg, 2))
print('The average savings balance for these customers is:', round(cust_list_savings_avg, 2))

The number of customers that have applied for a new car loan with a checking balance less than 500 is: 77
The average checking balance for these customers is: 60.58
The average savings balance for these customers is: 1350.51

In [38]:
# Q) Write Python codes to add a new column called Total Balance, 
# which sums up the checking and savings account balance. 
# Then, classify the total balance as low if it is less than $250, 
# medium if $250 and above but less than $2000, and high otherwise. 
# Store the balance status in your Dataframe object.

df['Total Balance'] = df['Checking'] + df['Savings']

def classify(balance):
    if balance >= 2000:
        return 'high'
    elif (balance >= 250) & (balance < 2000):
        return 'medium'
    else:
        return 'low'
    

df['Total Balance Status'] = df['Total Balance'].apply(classify)

print(df['Total Balance Status'])
print(df)

0      medium
1      medium
2      medium
3      medium
4        high
        ...
420    medium
421       low
422       low
423    medium
424    medium
Name: Total Balance Status, Length: 425, dtype: object
        Loan Purpose  Checking  Savings  Months Customer  Months Employed  \
0    Small Appliance       0.0    739.0               13               12
1          Furniture       0.0   1230.0               25                0
2            New Car       0.0    389.0               19              119
3          Furniture     638.0    347.0               13               14
4          Education     963.0   4754.0               40               45
..               ...       ...      ...              ...              ...
420  Small Appliance     497.0      0.0                7               51
421        Furniture       0.0      0.0               31               53
422          New Car       0.0      0.0               25              103
423          New Car       0.0    712.0               16                6
424          New Car       0.0    912.0                7               39

    Gender Marital Status  Age Housing  Years         Job Credit Risk  \
0        M         Single   23     Own      3   Unskilled         Low
1        M       Divorced   32     Own      1     Skilled        High
2        M         Single   38     Own      4  Management        High
3        M         Single   36     Own      2   Unskilled        High
4        M         Single   31    Rent      3     Skilled         Low
..     ...            ...  ...     ...    ...         ...         ...
420      M         Single   35   Other      4     Skilled         Low
421      M         Single   30     Own      4     Skilled        High
422      F       Divorced   28     Own      2     Skilled        High
423      F       Divorced   28     Own      2     Skilled        High
424      M         Single   44     Own      3  Management         Low

     Total Balance Total Balance Status
0            739.0               medium
1           1230.0               medium
2            389.0               medium
3            985.0               medium
4           5717.0                 high
..             ...                  ...
420          497.0               medium
421            0.0                  low
422            0.0                  low
423          712.0               medium
424          912.0               medium

[425 rows x 14 columns]

In [39]:
# Q) Write Python codes to generate a Pivot table to summarise the average age, months employed, and tenure of customers for different marital statuses and genders.

df_pivot = df.pivot_table(values = ['Age','Months Employed', 'Months Customer'], index = ['Marital Status', 'Gender'])

print(df_pivot)

                             Age  Months Customer  Months Employed
Marital Status Gender
Divorced       F       31.859259        20.637037        20.251852
               M       37.761905        26.285714        18.571429
Married        M       28.861111        19.916667        25.694444
Single         M       36.420601        24.360515        40.802575